#body-content, #movies-container {
    opacity: 0;
    transition: opacity 250ms;
}

.new-movie-placeholder {
    background-color: rgb(160, 160, 160);
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 200px;
    color: rgb(60, 60, 60);
    transition: all 200ms;
}

.new-movie-placeholder:hover {
    background-color: rgb(100, 100, 100);
    color: rgb(230, 230, 230);
}

.new-movie-placeholder i {
    --font-size: 20px;
    position: relative;
    font-size: var(--font-size);
    top: calc(50% - var(--font-size) / 2);
}

.movie-buttons {
    position: absolute;
    width: calc(100% - 20px);
    height: 40px;
    top: 260px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1;
    color: white;
    font-size: 10px;
}

.movie-buttons button {
    position: relative;
    height: 30px;
    width: 30px;
    padding: 0px !important;
    top: 5px;
}

.left-vcentre-label {
    padding: 0px 8px !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
}

.movie-grid {
    position: relative;
    width: 100%;
    padding: 0 10%;
}

.movie-cell {
    position: relative;
    width: 220px;
    height: 350px;
    display: inline-block;
    overflow: hidden;
}

.movie-cell img {
    border-radius: 5px;
    height: 300px;
    width: 200px;
    z-index: 0;
}

.movie-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    margin: 0 auto;
}

*::placeholder {
    color: #636c72 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    opacity: 0.8 !important;
    font-size: 1rem;
}

#submit-btn, #title-input {
    height: 34px;
}
