#filters-container, #movies-container {
    opacity: 0;
    transition: opacity 250ms linear;
}

.left-vcentre-label {
    padding: 0px 8px !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
}

.movie-grid {
    position: relative;
    width: 100%;
    /* background-color: blue; */
    padding: 0 10%;
}

.movie-cell {
    position: relative;
    width: 220px;
    height: 350px;
    /* background-color: red; */
    /* color: red; */
    display: inline-block;
    overflow: hidden;
}

.movie-cell img {
    border-radius: 5px;
    height: 300px;
}

.movie-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    margin: 0 auto;
}
