#body-content {
    opacity: 0;
    transition: opacity 250ms;
}

@media (max-width: 992px) {
   .spacer-h {
      display: none;
   }
}

*::placeholder {
    color: #636c72 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    opacity: 0.8 !important;
    font-size: 1.25rem;
}
