#page-head {
    margin-top: 70px;
}

.indented {
    --left: 15px;

    position: relative !important;
    width: calc(100% - var(--left) * 2);
    left: var(--left);
    text-align: justify;
    float: left;
}

.tooltip-inner {
    max-width: 250px !important;
}
