{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/browse.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        {% if g.logged_in_user.is_staff %}
        <title>Browse - Staff View</title>
        {% else %}
        <title>Browse - Online Movie Store Application</title>
        {% endif %}
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}
        <div id="body-content">
            <h4 id="error-message" class="error-message"></h4>
            <div id="page-head" class="container text-center">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 col-xs-12">
                        {% if g.logged_in_user.is_staff %}
                        <h1 class="display-4 font-weight-normal">Modify the Catalogue</h1>
                        {% else %}
                        <h1 class="display-4 font-weight-normal">Browse Our Collection</h1>
                        {% endif %}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="spacer5"></div>

            <div id="filters-container" class="container text-center">
                <div class="row">
                    <div class="col-sm">
                        <form id="filters-form" class="form-horizontal" action="{{ url_for('routes.do_get_movies_grid_html') }}" method=POST>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2"></div>

                                    <div class="col-sm-4">
                                        <input id="title-input" type="text" class="form-control" name="title" placeholder="Title (enter at least 3 characters)" minlength="3">
                                    </div>

                                    <select class="col-sm-2 js-example-placeholder-multiple" name="genres[]" multiple="multiple">
                                        {% for genre in genres %}
                                        <option value="{{ genre.id }}">{{ genre.name }}</option>
                                        {% endfor %}
                                    </select>

                                    <div class="col-sm-2">
                                        <button id="submit-btn" type="submit" class="btn btn-secondary btn-sm" style="float:left;">Apply Filter</button>
                                    </div>

                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="spacer5"></div>

            <div id="movies-container" class="container-fluid text-center">
            </div>

            <div class="spacer5"></div>

            <div id="page-buttons" class="container-fluid text-center">
                <div class="row">
                    <div class="col-sm">
                        <button id="first-page-btn" class="btn btn-secondary btn-sm page-btn">First Page</button>
                        <button id="prev-page-btn" class="btn btn-secondary btn-sm page-btn"><i class="fas fa-arrow-left"></i></button>
                        <button id="page-num-btn" class="btn btn-secondary btn-sm page-btn">1</button>
                        <button id="next-page-btn" class="btn btn-secondary btn-sm page-btn"><i class="fas fa-arrow-right"></i></button>
                        <button id="last-page-btn" class="btn btn-secondary btn-sm page-btn">Last Page</button>
                    </div>
                </div>
            </div>

            <div class="spacer5"></div>

            {{ util.footer() }}
        </div>
    </body>

    {{ util.scripts() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/browse.js') }}"></script>
</html>
