{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Movie - Staff View</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_edit_movie.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"/>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div id="body-content" class="container">
            <h4 id="error-message" class="error-message"></h4>

            <h1> {{ movie.title }} </h1>

            <hr/>

            <h5>Movie Details</h5>

            <form id="movie-form" class="container" action="{{ url_for('routes.do_edit_movie') }}" method=POST>
                <div class="row input-group-lg">
                    <input type="text" class="form-control input-lg col-lg-12" value="{{ movie.id }}" name="id" readonly data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
                </div>

                <div class="spacer"></div>

                <div class="row input-group-lg">
                    <input type="text" class="form-control input-lg col-lg-12" value="{{ movie.title }}" name="title" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
                </div>

                <div class="spacer"></div>

                <div class="row input-group-lg">
                    <select class="col-lg-12 js-example-placeholder-multiple" name="genres[]" multiple="multiple" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
                        {% for genre in genres %}
                        <option value="{{ genre.id }}"
                                {% for movieGenre in movie.genres %}
                                {% if genre.id == movieGenre.id %}
                                selected="selected"
                                {% endif %}
                                {% endfor %}>
                            {{ genre.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="spacer"></div>

                <div class="input-group-lg row">
                    <input class="col-lg-3 form-control" type="date" id="date-time-picker" value="{{ movie.release_date }}" name="release-date" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title=""/>
                    <div class="spacer-h"></div>
                    <input class="col-lg-1 form-control" style="min-width: 100px !important;" type="number" value="{{ movie.runtime }}" name="runtime" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="">
                    <div class="spacer-h"></div>
                    <select class="col-lg-2 js-example-placeholder-single" name="maturity-rating" value="{{ movie.maturity_rating }}">
                        {% for maturityRating in maturityRatings %}
                        {% if maturityRating.id == movie.maturity_rating %}
                        <option value="{{ maturityRating.id }}" selected="selected">{{ maturityRating.maturity_rating }}</option>
                        {% else %}
                        <option value="{{ maturityRating.id }}">{{ maturityRating.maturity_rating }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>


                <div class="spacer"></div>

                <div class="row input-group-lg">

                    <img id="curr-image-preview" src="{{ movie.thumbnail_src }}"/>
                    <div class="spacer-h"></div>
                    <label id="image-file-label" for="image-file">
                        <div id="file-name-container">
                            <img id="image-preview" src=""/>
                            <p id="file-name">Drop an image file here (or click to choose one)</p>
                        </div>
                        <input id="image-file" name="image" type="file" accept="image/*">
                    </label>
                </div>

                <br/>
                <div class="row">
                    <button id="submit-btn" type="submit" class="btn btn-success btn-lg">Save Changes</button>
                </div>
            </form>

            <hr/>

            <br/><br/>
            <small class="d-block mb-3 text-muted">© 2019 - OMSS</small>
        </div>
    </body>

    {{ util.scripts() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/add_edit_movie.js') }}"></script>
</html>
