{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Movie Copies - Staff View</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_movie_copies.css') }}">
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h4 id="error-message" class="error-message"></h4>

            <h1>Copies of {{ movie.title }}</h1>

            <hr/>

            <div class="table-responsive">
                <table id="movie-copies-table" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Information</th>
                            <th>Price</th>
                            <th>Sold</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="movie-copies-table-body">
                        {% for copy in movie.copies %}
                        <tr class="copy">
                            <td>{{ loop.index }}</td>
                            <td>{{ copy.copy_information }}</td>
                            <td>${{ copy.price }}</td>
                            <td>{{ copy.sold }}</td>
                            <!-- later, do if copy.sold, show orderid (and maybe link to order), otherwise show "not sold" -->
                            <td>
                                {% if not copy.sold %}
                                {% if g.logged_in_user and g.logged_in_user.is_staff %}
                                <button name="{{ copy.id }}" class="btn btn-primary btn-sm copy-btn edit-btn" data-toggle="tooltip" data-placement="top" title="Edit copy details">
                                    <i class="far fa-edit"></i>
                                </button>

                                <button name="{{ copy.id }}" class="btn btn-danger btn-sm copy-btn delete-btn" data-toggle="tooltip" data-placement="top" title="Delete copy">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                                {% else %}
                                <button name="{{ copy.id }}" class="btn btn-success btn-sm copy-btn add-to-order-btn" data-toggle="tooltip" data-placement="top" title="Add copy to order">
                                    <i class="far fa-plus-square"></i>
                                </button>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if g.logged_in_user and g.logged_in_user.is_staff %}
            <div class="spacer5"></div>

            <div class="row">
                <div class="col-sm" align="center">
                    <button id="new-btn" name="{{ movie.id }}" class="btn btn-success btn-sm" data-toggle="modal" data-target="#add-copy-modal">New Movie Copy</button>
                </div>
            </div>

            <div class="modal fade" id="add-copy-modal" tabindex="-1" role="dialog" aria-labelledby="add-copy-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-copy-title">Add a New Copy</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="add-copy-form" action="{{ url_for('routes.do_add_movie_copy', movieID=movie.id) }}" method=POST>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="number" class="form-control" name="copy-price" placeholder="Price" step="any" min="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="copy-description" placeholder="Description"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="submit-add-copy-form" type="submit" form="add-copy-form" class="btn btn-primary">Save Copy</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit-copy-modal" tabindex="-1" role="dialog" aria-labelledby="edit-copy-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-copy-title">Edit Copy</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="edit-copy-form" action="{{ url_for('routes.do_edit_movie_copy') }}" method=POST>
                                <div class="form-group">
                                    <input id="copy-id-input" type="text" class="form-control" name="copy-id" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input id="copy-price-input" type="number" class="form-control" name="copy-price" placeholder="Price" step="any" min="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea id="copy-description-input" class="form-control" name="copy-description" placeholder="Description"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="submit-edit-copy-form" type="submit" form="edit-copy-form" class="btn btn-primary">Save Copy</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <br/><br/>
            <small class="d-block mb-3 text-muted">© 2019 - OMSS</small>
        </div>
    </body>

    {{ util.scripts() }}

    <script src="{{ url_for('static', filename='js/edit_movie_copies.js') }}"></script>
</html>
