{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shipment Details - Online Movie Store Application</title>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h1>Shipment Details</h1>

            <br />

            <form method="GET" action="{{ url_for('routes.list_shipment_details') }}">
                <div class="form-row">
                    <div class="col-5">
                        <input type="text" class="form-control" required pattern="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" required id="order_id" name="order_id" placeholder="Order ID (eg. xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)
">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>

            <br />

            <form method="GET" action="{{ url_for('routes.list_shipment_details') }}">
                <div class="form-row">
                    <div class="col-2">
                        <input type="date" class="form-control" required id="min_date" name="min_date">
                    </div>
                    <div class="col-1 text-center">
                        <span class="align-middle">to</span>
                    </div>
                    <div class="col-2">
                        <input type="date" class="form-control" required id="max_date" name="max_date">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-default">Filter date</button>
                    </div>
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>Shipment ID</th>
                        <th>Date</th>
                        <th>Shipment Method</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for shipment_details in shipment_details_list %}
                    <tr>
                        <td>{{shipment_details.id}}</td>
                        <td>{{shipment_details.date}}</td>
                        <td>{{shipment_details.shipment_method}}</td>
                        <td><a href="{{ url_for('routes.view_shipment_details', id=shipment_details.id) }}" class="btn btn-info">View Shipment Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not_found_id is defined %}
            <div class="alert alert-warning">Could not find Shipment Details with Order ID: {{not_found_id}}</div>
            {% endif %}
            <a class="btn btn-primary" href="{{ url_for('routes.create_shipment_details') }}">Create new</a>
        </div>
    </body>

    {{ util.scripts() }}
</html>
