{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Order - Online Movie Store Application</title>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h1>My Order History</h1>

            <br />
	<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Order Date</th>
                        <th>Price</th>
			                  <th>Status</th>

                    </tr>
                </thead>
                <tbody>

                      {% for orders in movieorder%}
                      <tr>
                          {% for movieorder in orderlist%}
                          {% for moviecopy in moviecopylist%}
                          {% for movie in movielist%}
                          <td>{{loop.index}}</td>
                          <td>{{movie.title}}</td>
                          <td>{{moviecopy.price}}</td>
                          {% endfor %}
                          {% endfor %}
                          {% endfor %}
                      </tr>
                      {% endfor %}

                </tbody>
            </table>
	</div>
		<br/><br/>

        </div>
    </body>

    {{ util.scripts() }}
    <script src = "static/js/logs.js"></script>
</html>
