{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Order - Online Movie Store Application</title>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h1>My Order</h1>

            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Price</th>

                    </tr>
                </thead>
                <tbody>
                    {% for orders in movieorder%}
                    <tr>
                        {% for movieorder in orderlist%}
                        {% for moviecopy in moviecopylist%}
                        {% for movie in movielist%}
                        <td>{{loop.index}}</td>
                        <td>{{movie.title}}</td>
                        <td>{{moviecopy.price}}</td>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ url_for('routes.add_order') }}">Add more movies</a>

        </div>
    </body>

    {{ util.scripts() }}
</html>
