{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Order - Online Movie Store Application</title>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h1>My Order</h1>

            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody id="order-body">


                  <tr>
                    {% for orderline in movieorderline%}
                    {% for movie in movies%}
                    {% for moviecopy in moviecopy%}
                  <td>{{loop.index}}</td>


                  <td>{{movie.title}}</td>


                  <td>{{moviecopy.price}}</td>

                  <td><button id="{{order.id}}" class="delete-movie-order btn btn-danger btn-sm">Remove Movie</button></td>
                  {% endfor %}
                  {% endfor %}
                  {% endfor %}

                   </tr>

                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ url_for('routes.add_order') }}">Add more movies</a>
            <a class="btn btn-primary" href="{{ url_for('routes.payment') }}">Submit</a>

        </div>
    </body>

    {{ util.scripts() }}
    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
</html>
