{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Logs - Online Movie Store Application</title>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h4 id="error-message" class="error-message"></h4>

            <h1>Order History</h1>
            <h4 class="greyed"> {{ g.logged_in_user.username }} ({{ g.logged_in_user.first_name }} {{ g.logged_in_user.last_name }}) </h4>

            <br/>
            

            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Order Date</th>
			    <th>Price</th>
                            <th>Status</th>
 
                        </tr>
                    </thead>
                    <tbody>
 
                    </tbody>
                </table>
            </div>
            <br/><br/>
            <small class="d-block mb-3 text-muted">© 2019 - OMSS</small>
        </div>
    </body>

    {{ util.scripts() }}

    <script src="static/js/logs.js"></script>
</html>