{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Order - Online Movie Store Application</title>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h1>My Order History</h1>

            <br />
            <div class="input-group mb-3">
    <input class="form-control" type="date" id="date-time-picker"/>
    <input class="form-control" type = "text" id="searchnumber"/>
    <div class="input-group-append">
      <button id="date-time-picker-button" class="btn btn-success" type="button">Filter by Date</button>
        <button id="searchnumber" class="btn btn-success" type="button">Filter by ID</button>
    </div>
</div>

	<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Order Date</th>
			                  <th>Status</th>

                    </tr>
                </thead>
                <tbody>



                      <tr>

                          {% for movieorder in orderlist%}


                          <td>{{loop.index}}</td>
                          <td>Date</td>


                          <td>Undelivered</td>




                      </tr>

                      {% endfor %}

                </tbody>
            </table>
	</div>
		<br/><br/>

        </div>
    </body>

    {{ util.scripts() }}
    <script src = "static/js/orderhistory.js"></script>
</html>
