{% import 'utilities.html' as util %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Payment Details - Online Movie Store Application</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/payment.css') }}"/>
{{ util.head() }}
</head>
<body>
{{ util.navbar() }}
<div id="page-head" class="container text-center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-xs-12">
            <p class="greyed"><b>YOUR PAYMENT INFORMATION IS SECURE</b></p>
                <h1 class="display-4 font-weight-normal">Payment Details</h1>
        </div>
    </div>
    <form id="payment-form" action="{{ url_for('auth.do_register') }}" method=POST>
        <h4>Delivery Address</h4>
        <p class="lead font-weight-normal"> Please review if Delivery Address is different to Registration Address</p>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-4 dtest">
            <h5>First Name:</h5>
            </div>
            <div class="input-group-lg col-md-8"> <!-- enhances input by adding help test -->
                <input type="text" class="form-control input-lg" value="{{g.logged_in_user.first_name}}" name="dfirst" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div>
        </div>
        <div class="spacer">
        <div class="row">
            <div class="col-md-4 dtest">
            <h5>Last Name:</h5>
            </div>
            <div class="input-group-lg col-md-8">
                <input type="text" class="form-control input-lg" value="{{g.logged_in_user.last_name}}" name="dlast" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div>
        </div>
        <div class="spacer">
        <div class="row">
            <div class="col-md-4 dtest">
                <h5>Street Address:</h5>
            </div>
            <div class="input-group-lg col-md-8">
                <input type="text" class="form-control input-lg" value="{{g.logged_in_user.street_address}}" name="dstreet-address" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div> 
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-4 dtest">
            <h5>Postcode:</h5>
            </div>
            <div class="input-group-lg col-md-3">
                <input type="number" class="form-control input-lg" value="{{g.logged_in_user.postcode}}" name="dpostcode" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div>
        </div>
        <br/>
        <h4>Credit Card Details</h4>
        <p class="lead font-weight-normal"> OMSS accepts all major credit and debit cards: </p>
        <div class="spacer"></div>
        <div>
            <img class="icon" src="../static/images/bank_icons/mastercard.jpg" alt="Mastercard">
            <img class="icon" src="../static/images/bank_icons/visa.jpg" alt="Visa">
            <img class="icon" src="../static/images/bank_icons/amex.jpg" alt="American Express">
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="input-group-lg col-md-6"> <!-- enhances input by adding help test -->
                <input type="text" class="form-control input-lg" placeholder="Cardholder's First Name" name="cfirst-name" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div>
            <div class="input-group-lg col-md-6">
                <input type="text" class="form-control input-lg" placeholder="Cardholder's Last Name" name="clast-name" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="input-group-lg col-md-9">
                <input type="number"
                class="form-control input-lg"
                placeholder="Credit Card No. (xxxx xxxx xxxx xxxx)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength = "16"
                name="credit-no"
                data-toggle="tooltip" data-trigger="manual" data-placement="right"
                title="">
            </div>
            <div class="input-group-lg col-md-3">
                <input type="number"
                class="form-control input-lg"
                placeholder="CVC"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength = "3"
                name="cvc"
                data-toggle="tooltip" data-trigger="manual" data-placement="right"
                title="">
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-4 dtest">
                <h5>Expiration Date:</h5>
            </div>
            <div class="input-group-lg col-md-4">
                <input type="number"
                class="form-control input-lg"
                placeholder="Month (MM)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength = "2"
                name="month"
                data-toggle="tooltip" data-trigger="manual" data-placement="right"
                title="">
            </div>
            <div class="input-group-lg col-md-4">
                <input type="number"
                class="form-control input-lg"
                placeholder="Year (YYYY)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength = "4"
                name="month"
                data-toggle="tooltip" data-trigger="manual" data-placement="right"
                title="">
            </div>
        </div>
        <br/>
        <div class="spacer"></div>
        <h4>Billing Details</h4>
        <p class="lead font-weight-normal"> Please enter additional Billing Details</p>
        <div class="spacer"></div>
        <div class="row">
            <div class="input-group-lg col-md-8">
                <input type="text" class="form-control input-lg" placeholder="Street Address" name="bstreet-address" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div> 
            <div class="input-group-lg col-md-4">
                input type="number" class="form-control input-lg" placeholder="Postcode" name="bpostcode" data-toggle="tooltip" data-trigger="manual" data-placement="right" title="">
            </div>
        </div>
        <br/>
        <div class="spacer"></div>
        <button id="submit-btn" type="submit" class="btn btn-secondary btn-lg">Pay Now</button>
        <br/><br/>
        <small class="d-block mb-3 text-muted">© 2019 - OMSS</small>
        </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
{{ util.scripts() }}
<script src="static/js/payment.js"></script>
</html>
