{% macro head() -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}"/>
{% endmacro %}

{% macro navbar() -%}
<nav class="navbar navbar-expand-lg navbar-dark bg-omss-main">
    <div class="container">
        <a class="navbar-brand" href="/"><b>OMSS</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>

                {% if g.logged_in_user == None %}

                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/browse">Browse Movies</a>
                </li>

                {% else %}

                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountActionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logged in as: {{g.logged_in_user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountActionsDropdown">
                        <a class="dropdown-item" href="/profile">Account Controls</a>
                        <a class="dropdown-item" href="/logs">Access Logs</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

                {% if g.logged_in_user.is_staff %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="staffActionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Staff Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="staffActionsDropdown">
                        <a class="dropdown-item" href="/browse">Modify the Catalogue</a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="/browse">Browse Movies</a>
                </li>

                {% endif %}

                {% endif %}
            </ul>

            <!-- <form class="form-inline my-2 my-lg-0" action="" method=POST>
                <input class="form-control mr-sm-2" type="search" placeholder="Search Movies" name="search-string">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>

<br/>
{% endmacro %}

{% macro scripts() -%}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endmacro %}

{% macro footer() -%}
<footer class="footer bg-omss-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="navbar-brand" href="/"><b>OMSS</b></a>
                <small class="d-block mb-3 text-muted white">© 2019 - Dion, Xavier, Nik, Amara, Tyrone, Chris</small>
            </div>
        </div>
    </div>
</footer>
{% endmacro %}
