{% import 'utilities.html' as util %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View User List - Online Movie Store Application</title>
        {{ util.head() }}
    </head>
    <body>
        {{ util.navbar() }}

        <div class="container">
            <h4 id="error-message" class="error-message"></h4>

            <h1>User List - Staff View </h1>
            <h4 class="greyed"> {{ g.logged_in_user.username }} ({{ g.logged_in_user.first_name }} {{ g.logged_in_user.last_name }}) </h4>

            <br/>

            <div class="input-group mb-3">
                <input class="form-control" type="date" id="date-time-picker"/>
                <div class="input-group-append">
                    <button id="date-time-picker-button" class="btn btn-success" type="button">Find Logs</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Delete User?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        <tr class="log">
                            <td>{{account.username}}</td>
                            <td>{{account.first_name}}</td>
                            <td>{{account.last_name}}</td>
                            <td>{{account.email}}</td>
                            <td>{{account.phone_number}}</td>
                            <td><button id="{{account.id}}" class="delete-account btn btn-danger btn-sm">Delete User</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br/><br/>
            <small class="d-block mb-3 text-muted">© 2019 - OMSS</small>
        </div>
    </body>

    {{ util.scripts() }}

    <script src="static/js/view_user.js"></script>
</html>
